<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baptistfoundation.trust_relation" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".Userlist"
            android:label="@string/title_activity_userlist" >
        </activity>
        <activity
            android:name=".Back_end"
            android:label="@string/title_activity_back_end" >
        </activity>
        <activity
            android:name=".Frontend_student"
            android:label="@string/title_activity_frontend_student" >
        </activity>
        <activity
            android:name=".Backend_admin"
            android:label="@string/title_activity_backend_admin" >
        </activity>
        <activity
            android:name=".Payment_options"
            android:label="@string/title_activity_payment_options" >
        </activity>
    </application>

</manifest>
